.fasttrack {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #fab700;
    text-align: center;
}
.fasttrack .title {
    color: white;
    font-family: Raleway;
    margin-top: 300px;
}
.fasttrack .tracking_input {
    width: 60%;
    padding: 10px;
    font-size: 35px;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid white;
    font-family: raleway;
    color: black;
    text-transform: uppercase;
}
.track_button {
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 40px;
    padding: 10px;
    font-size: 25px;
    width: 200px;
    position: relative;
    left: calc(50% - 100px);
    display: block;
    color: white;
}






/* The Modal (background) */
.ft_popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white;
}

/* Modal Content */
.ft_popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    font-family: raleway;
}
.ft_popup-content .ft_title {
    margin-top: 100px;
    margin-left: 30px;
}
.ft_popup-content .ft_barcode {
    margin-left: 30px;
    font-size: 20px;
    margin-top: -25px;
}
.ft_popup-content .ft_details {
     display: inline-block;
 }
.ft_popup-content .ft_adress {
    margin-right: 20px;
    float: right;
    display: inline-block;
}
/* The Close Button */
.ft_popup-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.ft_popup-close:hover,
.ft_popup-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.ft_popup-content .ft_status_bar {
    grid-template-columns: repeat(4);
    display: grid;
    justify-items: center;
    grid-template-areas: 'received depot underway deliverd';
    margin-top: -85px;
}

.ft_status_progress_bar {
    border: 5px solid #fab700;
    width: 83%;
    margin-top: 180px;
}

.ft_popup-content .ft_status_bar .ft_status_received, .ft_popup-content .ft_status_bar .ft_status_depot, .ft_popup-content .ft_status_bar .ft_status_underway, .ft_popup-content .ft_status_bar .ft_status_deliverd {
    background: #fab700;
    width: 130px;
    text-align: center;
    height: 130px;
    border-radius: 50%;
}

.ft_popup-content .ft_status_bar .ft_status_image {
    width: 100px;
    margin-top: 15px;
}
.ft_status_selected {
    -webkit-box-shadow: 0px 0px 108px -25px rgba(255,0,0,1);
    -moz-box-shadow: 0px 0px 108px -25px rgba(255,0,0,1);
    box-shadow: 0px 0px 108px -25px rgba(255,0,0,1);
    animation: skew 1s infinite;
    animation-direction: alternate;
    transform: scale(1)
}

@keyframes skew {
    0% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
}

.ft_deliveryinformation_title {
    font-size: 40px;
    color: 4f4f4f;
    margin-left: 30px;
    margin-top: 80px;
}
.ft_deliveryinformation_date {
    font-size: 50px;
    margin-left: 30px;
    margin-top: 10px;
}
.ft_deliveryinformation_details_title {
    font-size: 40px;
    color: 4f4f4f;
    margin-left: 30px;
    margin-top: 80px;
    font-weight: bold;
}
.ft_deliveryinformation_details {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
}
.ft_deliveryinformation_details_adress {
    display: flex;
    line-height: 0.3;
}
.ft_stats_tekst {
    top: 10px;
    position: relative;
    font-size: 20px;
    display: none;
}
.ft_stats_tekst_enable {
    display: block!important;
}